.currency-input{
    width: 65%;
    margin: 10px 0 5px 0;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #dee7ec;
    text-align: right;
}

.alert-danger{
    color: red;
    display: block;
}

.danger-border{
    border: 1px solid red;
}